@import "variables.less";

.qr-label {
    @page-margin: .125in;
    position: relative;

    > div {
        background-color: white;
    }

    .qr-container {
        position: relative;
        width: 100%;
        padding: @page-margin;
        margin: 0;
        box-sizing: content-box;

        .qr-wrapper {
            position: relative;
            width: 100%;

            svg {
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
            }
        }
    }

    .asset-name {
        position: absolute;
        left: 0;
        font-family: @default-printer-font-family;
        width: 100%;
        line-height: 1.05;
        bottom: @page-margin;

        div {
            position: static;
            width: calc(100% - (2 * @page-margin));
            text-align: center;
            padding: 0;
            margin: 0 @page-margin 0 @page-margin;
            word-break: keep-all;
            overflow: hidden;
        }
    }
}
